.proj-title {
  background-color: black;
  color: whitesmoke;
  margin: 1.5rem;
  font-weight: lighter;
  font-size: 3.6rem;
  justify-items: center;
}

.desc {
  color: whitesmoke;
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 5rem;
  font-weight: normal;
  font-size: 1rem;
  justify-items: center;
}

.proj-image {
  display: flex;
  position: relative;
  width: -webkit-fill-available;
  height: auto;
}
